*.o
*.dSYM
*.csv
*.out
*.pyc
.fuse*
libuwimg*
uwimg

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
overflow.jpg
dog_no_red.jpg
dog_saturated.jpg
doglight_fixed.jpg
graybar.jpg
dog_copy.jpg
dog_copy_bounds.jpg
dog_copy_exbounds.jpg
dog_copy_shrink.jpg
output
